@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Recrutement</li>
            <li class="@Url.IsLinkActive("CV", "CV")">
                <a href="@Url.Action("Index", "CV")"><i class="fa fa-link"></i> <span>CV</span></a>
            </li>
            <li class="@Url.IsLinkActive("Candidate", "Candidate")">
                <a href="@Url.Action("Index", "Candidate")"><i class="fa fa-link"></i> <span>Candidate</span></a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Multilevel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>
        </ul>
        @* END Menu *@
    </section>
</aside>