@using WebHelpers.Mvc5
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Recrutement</li>
            <li class="@Url.IsLinkActive("CV", "CV")">
                <a href="@Url.Action("Index", "CV")"><i class="fa fa-link"></i> <span>CV</span></a>
            </li>
            <li class="@Url.IsLinkActive("Candidate", "Candidate")">
                <a href="@Url.Action("Index", "Candidate")"><i class="fa fa-link"></i> <span>Candidate</span></a>
            </li>
            
        </ul>
        @* END Menu *@
    </section>
</aside>