@model ClientWeb.Models.LoginModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link rel="stylesheet" href="~/Content/css/login.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
<h2>Index</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div id="fullscreen_bg" class="fullscreen_bg" />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="container col-md-3 col-md-offset-4">
        <form class="form-signin">
            <h1 class="form-signin-heading">Welcome</h1>
            <input type="text" class="form-control" placeholder="Username" required="" autofocus="" name="username">
            <input type="password" class="form-control" placeholder="Password" required="" name="password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign In
            </button>
        </form>

    </div>
}

